/* Work Sans font from google font */
<style>
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,800;1,400;1,500;1,700&display=swap');
</style>

*{
    font-family: 'tab', sans-serif;
    font-family: 'open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
  align-items: center;
}

nav li{
  text-decoration: none;
  margin-right: 30px;
}

nav ul li{
  text-decoration: none;
  color:#131313;
}

.banner-container{
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.banner-title{
color:#131313);
text-align: center;
font-family: Work Sans;
font-size:4 rem;
font-weight: 700px;
}
.banner-description{
  color:#727272);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.btn{
  border-radius: 8px;
  background-color: chocolate;
  padding: 20px 25px;
  color: white;
  font-size: 1.25 rem;
  font-weight: 600;
  cursor:pointer
  border:0;
}

  .banner-pic-container{
    width: 100%;
   background-color:#FF900E;
  }
 
.baner-pic{
  width: 700px;
  height: 500px;
}
.team-img-container{

  display: flex;
  align-items: center;
  justify-content:space-around;
}

.team-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.span1{
  color:#727272);
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.span2{
  color:#131313);
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.span3{
color: #FF900E;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.Feature-container{
  display: flex;
}
.fact-element{
  display: flex;
  justify-content: space-around;
}
.Feature-container{
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

 
.Feature-right{
  width: 708px;
height: 982px;
}
.box{
  justify-content: space-around;
  border: 1px solid rgb(84, 76, 76);
  gap:20px;
  padding:20px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 10px gray;
}
.achitect{
  width: 550px;
  height: auto;
}

.icon{
  border: 1px solid rgb(17, 3, 3);
  gap:20px;
  padding:20px;
  margin-bottom: 20px; 
  text-align: center;
}
.sponsor-container{
  display: flex;
  justify-content: space-around;
  margin: 50px;
}