/* Work Sans font from google font */
<style>
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,800;1,400;1,500;1,700&display=swap');
</style>

*{
    font-family: 'tab', sans-serif;
    font-family: 'open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}

nav{
  display: flex;
  justify-content: space-between;
}
nav > ul {
  display: flex;
  align-items: center;
}